body{
  background-color: #e6ffff;
}

#item-card-container{
  padding: 0;
  margin: 0;
}

.item-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item-info{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    width:40%;
    padding:0;
    margin: 0;
  }
  .item-control{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
}

.item-list{
  margin-top: 5%;
}

.item-input[type='text']{
  background-color: red;
}

.saved-list-container{
  display:flex;
  justify-content: space-between;
  .saved-list-button{
    text-align: center;
  }
}

Input#editing, Segment#editing{
  background-color: lightyellow;
  color:orange;
}
Input#deleting, Segment#deleting {
  background-color: lightpink;
  color: red;
}
Input#creating, Segment#deleting {
  background-color: #ccffcc;
}

p{
  color:black;
  margin:0;
}

#delete-control{
  float: right;
  margin:50px;
}

#manage-items-title {
  display: inline;
  margin-left:3%;
}

.datacell{
  transition: background-color .1s, color .1s, font-size .1s;
  padding: 1em;
}
.ui.padded.table td{
  padding:0;
}

/*the following modifies semantic-ui-react's default accordion behavavior to make the transition smooth instead of instant*/
.ui.accordion .accordion .title~.content, .ui.accordion .title~.content{
  display:block;
  height:0px;
}
.ui.accordion .accordion .active.content, .ui.accordion .active.content{
  display:block;
  height: 225px;
}
.active.content, .title~.content{
  transition: height 1s;
}
