.item-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item-info{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    width:40%;
  }
  .item-control{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
}

.item-list{
  margin-top: 5%;
}

.item-input[type='text']{
  background-color: red;
}

.saved-list-container{
  display:flex;
  justify-content: space-between;
  .saved-list-button{
    text-align: center;
  }
}

Input#editing{
  background-color: lightyellow;
  color:orange;
}
Input#deleting{
  background-color: lightpink;
  color: red;
}
